# Файлы, специфичные для среды разработки
.vscode/

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
.cache/
__pycache__/
_HLAM/

# Виртуальное окружение
.venv_mkdocs/
venv/
.venv/
.env

# Сборки
site/
#public/*