<style data-teleport="head">
  .front-cover {
    margin: var(--margin);
    margin-left: 3cm;
    height: calc(var(--height) - var(--offset));
    page-break-after: always;
    border: 1px solid #fff;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      image-rendering: optimizeQuality;
    }

    /* Cтили для углового штампа */
    .angle-stamp {
      position: absolute;
      top: var(--margin);
      right: var(--margin);
      width: 7cm;
      padding: 0.5cm 0 0 0.5cm;
      font-size: 14pt;

    }

    .angle-stamp::before {
      content: "УТВЕРЖДЕНО";
      font-weight: bold;
      display: block;
      margin-bottom: 0.3cm;
    }

    .angle-stamp p {
      margin: 0;
      text-indent: 0;
      text-align: left;
    }


    section {
      color: #000;
      padding: 0.635cm;
      width: 100%;
      max-width: none;
      word-wrap: break-word;
      margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
      font-size: 13pt;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box;

      > .title {
        font-size: 28pt;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 1em;
        color: #000;
        string-set: title content(text);
        width: 100%;
        text-align: center;
      }

      > .brand,
      > .department,
      > .version {
        line-height: 1;
        font-size: 10pt;
        font-family: PT-Astra-Serif;
        text-align: center;
      }
    }
  }

  @page {
    @top-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: '{{ config.site_name }}' ' — ' string(title);
    }
  }

  @page :first {
    margin: 0;
    background: #fff;

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>

<div class="front-cover">

  <div class="angle-stamp">
    <p>Приказом</p>
    <p>АО «Газпром шельфпроект»</p>
    <p>от {{ order_date }} № {{ order }} </p>
    <br>
    <p>Редакция: {{ doc_version }} </p>
  </div>
 
  <section>
    <div class="brand">{{ unit.brand }}</div>
    <div class="department">{{ config.site_name }}</div>
    <div class="title">{{ page.title }}</div>
 
  </section>

</div>