<style data-teleport="head">
  .front-cover {
    margin: var(--margin);
    height: calc(var(--height) - var(--offset));
    page-break-after: always;
    border: 1px solid #fff;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      image-rendering: optimizeQuality;
    }

    .approval {
      position: absolute;
      top: 0.635cm;
      right: 0.635cm;
      color: #fff;
      font-size: 10pt;
      text-align: right;
      font-family: monospace;
    }

    section {
      color: #fff;
      padding: 0.635cm;
      width: 100%;
      max-width: none;
      word-wrap: break-word;
      margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
      font-size: 13pt;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box;

      > .title {
        font-size: 32pt;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 1em;
        color: #fff;
        string-set: title content(text);
        width: 100%;
        text-align: center;
      }

      > .brand,
      > .department,
      > .version {
        line-height: 1;
        font-size: 10pt;
        font-family: monospace;
        text-align: center;
      }
    }
  }

  @page {
    @top-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: '{{ config.site_name }}' ' — ' string(title);
    }
  }

  @page :first {
    margin: 0;
    background: var(--md-primary-fg-color);

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>

<div class="front-cover">
  <div class="approval">Утверждено приказом: {{ order }} от {{ order_date }}</div>
  
  <section>
    <div class="brand">{{ unit.brand }}</div>
    <div class="department">{{ config.site_name }}</div>
    <div class="title">{{ page.title }}</div>
    <div class="version">{{ doc_version }}</div>
  </section>
</div>